{% extends 'base.html' %}

{% block head %}

    {% block javascript %}

  
    <script>
      function allowDrop(ev) {
        ev.preventDefault();
      }
      
      function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        
      }
      
      function drop(ev,value) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        TranserJson(value,data);
        ev.target.appendChild(document.getElementById(data));
      }

      function TranserJson(value,data){
        var sprite = data;
        var sprite = sprite.substring(0, sprite.length - 1);
        const DDjson = {
          position: value,
          type: sprite
        };
        const myJSON = JSON.stringify(DDjson); 
        $.post( "/edit_level", {
          javascript_data: myJSON
        });
      }
      
      </script>
    {% endblock %}

{% endblock %}



{% block body %}
<div class="row">
  <div class="col-sm-7"> 
    <div class="grid-map container">
      <h2 class="map-title"> Edit Map </h2>
      <div class="row grid-row">
        <div class="col grid-col">
          <img id="start" src="/static/img/Sprite/start.png"  width="150px" height="150px">
        </div>
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'2')" ondragover="allowDrop(event)"></div>
        </div>
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'3')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'4')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'5')" ondragover="allowDrop(event)"></div> 
        </div>
      </div>
      <div class="row grid-row">
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'6')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'7')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'8')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1"  ondrop="drop(event,'9')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'10')" ondragover="allowDrop(event)"></div> 
        </div>
      </div>
      <div class="row grid-row">
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'11')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'12')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'13')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'14')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'15')" ondragover="allowDrop(event)"></div> 
        </div>
      </div>
      <div class="row grid-row">
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'16')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'17')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'18')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'19')" ondragover="allowDrop(event)"></div> 
        </div>
        <div class="col grid-col">
          <div id="div1" ondrop="drop(event,'20')" ondragover="allowDrop(event)"></div> 
        </div>
      </div>
    <div class="row grid-row">
      <div class="col grid-col">
        <div id="div1" ondrop="drop(event,'21')" ondragover="allowDrop(event)"></div> 
      </div>
      <div class="col grid-col">
        <div id="div1" ondrop="drop(event,'22')" ondragover="allowDrop(event)"></div> 
      </div>
      <div class="col grid-col">
        <div id="div1" ondrop="drop(event,'23')" ondragover="allowDrop(event)"></div> 
      </div>
      <div class="col grid-col">
        <div id="div1" ondrop="drop(event,'24')" ondragover="allowDrop(event)"></div> 
      </div>
      <div class="col grid-col">
        <div id="div1" ondrop="drop(event,'25')" ondragover="allowDrop(event)"></div> 
      </div>
    </div>
  </div>
</div>
  <div class="col-sm-4">  
    <div class="sprite container">
      <h3>Drag Item to map:</h3>
      <img id="coins1" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins2" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins3" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins4" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins5" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins6" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins7" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins8" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coins9" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coinsA" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coinsB" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coinsC" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coinsD" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coinsE" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="coinsF" src="/static/img/Sprite/coins.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall1" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall2" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall3" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall4" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall5" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall6" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall7" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall8" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wall9" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wallA" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wallB" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wallC" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wallD" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wallE" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="wallF" src="/static/img/Sprite/wall.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
      <img id="goal1" src="/static/img/Sprite/goal.png" draggable="true" ondragstart="drag(event)" width="150px" height="150px">
    </div>
  </div>
</div>
 

{% endblock %}