.login-form{
    text-align: center;
    width: 50%;
    border: 2px solid #f06a68;
    background-color: #ffbbb0;
    padding: 25px 15px 25px 15px;
    margin: 50px 50px 50px 50px;
}
html, body {
    height: 100%;
 }