.logo{
    height: auto; 
    width: auto; 
    max-width: 180px; 
    min-height: 70px;
    padding-left: 20px;
    padding-right: 10px;
}

 .navbar-expand-lg{
    background-color: #F5CAC3;

}

.navbar-nav{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}


a:hover {
    background-color: #f2848262;
}

.grid-row .grid-col {
    border: 10px solid #f2848262;
    min-height: 250px;
    max-width: 250px;
   
}

.grid-map.container{
    margin: 50px;
    margin-right: 0px;
}

.map-title{
    text-decoration: underline;
    padding-bottom: 10px;
}

#div1, #div2 {
    min-height: 250px;
    max-width: 250px;
}

.sprite.container{
    border: 10px solid #f2848262;
    padding: 10px;
    margin-top: 100px;
    margin-left: 0px;
}

.command-form{
    border: 10px solid #f2848262;
    margin-left: 60px;
    margin-right: 170px;
}

.card.card-command{
    border: none;
}

.map-title.Commands{
    padding-left: 60px;
}

