body {
    /* background-image: url('../img/bg.jpg'); */
    background-image: linear-gradient( white, #F4C9C2);
    font-family: 'Andika', sans-serif;
    overflow-x: hidden; /* hide horizontal*/
}


 .navbar-expand-lg{
    /* background-color: #F5CAC3; */

}

.navbar-nav{
    font-size: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size:x-large;
    color: black;
    text-decoration: none;

    
}

ul{
    color: black;
}

li{
    padding-left: 1rem;
}

a:hover {
    background-color: #F4C9C2;
    color:black;

}

.custom-select {
    margin-left: 100px;
}

#canvas-div {
    text-align: center;
    border-style: solid;
}

#level-div, #control-div, #live-div{
    padding-top: 10px;
    /* border-style: solid; */
}

#send_commands, #select_levels {
    margin-top: 10px;
    margin-left: 12px;
}

#dashboard {
    background-image: url("../img/liveDashboard.png");
    /* height:auto;
    width: 100%; */
}