<!DOCTYPE html>
<html>
    <head>
        {% block header %}
        {% endblock %}
        {% block javascript %}
        {% endblock %}
		<title>CoolMotor - Web Application</title>
    </head>
    <body>

      
      <nav class="navbar navbar-expand-lg justify-content-center text-center">
          <a class="navbar-brand" href="/"><img class="logo" src="../static/img/CoolMotorLogo.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
              <a  class="navitem nav-item nav-link" style="color: #000000; padding: 20px;" href="{{url_for('gamePlatform')}}"><em><strong>Home</strong></em></a>
              <a class="navitem nav-item nav-link" style="color: #000000;  padding: 20px;" href="{{url_for('dashboard')}}"><em><strong>Dashboard</strong></em></a>
              <a class="navitem nav-item nav-link" style="color: #000000;  padding: 20px;" href=""><em><strong>Level Editor</strong></em></a>
            </div>
          </div>
      </nav>
      

      

        <div class ="main-content">
            {% block body %} {% endblock %}
        </div>
    </body>
	<footer>
        {% block footer %} {% endblock %}
    </footer>
</html>