{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}

<table class="styled-table">
    <thead>
    <tr>
        <th>Map ID</th>
        <th>Map Difficulty</th>
        <th>Map Name</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
            <tr class="active-row">
                <td>{{row[0]}}</td>
                {% if row[1] == 1 %}
                    <td> Easy </td>
                {% elif row[1] == 2 %}
                    <td> Medium </td>
                {% elif row[1] == 3 %}
                    <td> Hard </td>
                {% else  %}
                    <td> Unknown </td>
                {% endif %}
                <td>{{row[2]}}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_level', id=row[1]) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-success" href="" >Back</button>
    </div>
  </div>
</div>
{% endblock %}
