{% extends 'base.html' %}

{% block head %}

    {% block CSS %}
    <link rel="stylesheet" href="../static/css/LevelEditor.css">
    {% endblock %}


{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class ='m-4'>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<table class="styled-table">
    <thead>
    <tr>
        <th>Map ID</th>
        <th>Map Difficulty</th>
        <th>Map Name</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
            <tr class="active-row">
                <td>{{row[0]}}</td>
                {% if row[1] == 1 %}
                    <td> Easy </td>
                {% elif row[1] == 2 %}
                    <td> Medium </td>
                {% elif row[1] == 3 %}
                    <td> Hard </td>
                {% else  %}
                    <td> Unknown </td>
                {% endif %}
                <td>{{row[2]}}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_level', id=row[0]) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-success" href="" >Back</button>
    </div>
  </div>
</div>
{% endblock %}
