{% extends 'base.html'%}

{% block head %}

    {% block header %}
    <meta charset="utf-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="description" content="Web Application for Uni Database Management">
    <meta name="author" content="ICT2103-Team23">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link own CSS -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    {% endblock %}

    {% block javascript %}
    <script src="{{ url_for('static', filename='js/blockly-master/blockly_compressed.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/blockly-master/blocks_compressed.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/blockly-master/msg/js/en.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/game_blocks.js') }}", type="text/javascript"> </script>
    <script src="{{ url_for('static', filename='js/game_processing.js') }}", type="text/javascript"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}

    

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col">
      
      </div>
      <div class="col-9">
        <div class="container-fluid justify-content-center">
            <h1>This is the Index page</h1>
            <canvas id="canvas"> </canvas>
        </div>
        <div class="container-fluid justify-content-center">
            <p>Level: {{levelName}}</p>
            <p class="d-inline">Time Elapsed:</p>
            <br/>
            <p class="d-inline">Coins Collected:</p> <p class="d-inline" id="coinsCollected">0</p>
            <br/>
            <p class="d-inline">Car Crashes:</p> <p class="d-inline" id="carCrashes">0</p>
            <br/>
            <p class="d-inline">Commands Sent:</p> <p class="d-inline" id="cmdsSent">0</p>
        </div>
        <div class="container-fluid justify-content-center">
            <h2> Car Control Station </h2>
            <div id="blocklyDiv" style="height: 320px; width: 1200px;"></div>
            <button id="send_commands" type="button">Send Commands</button>
        </div>
        <br>
      </div>
      <div class="col">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Select Level
            </button>
            
            <!-- Modal -->
            <div class="modal fade-modal-sm" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Select Level</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form name="levelSelector" method="POST" action="/selectLevel">
                            <select class="custom-select" name="level" id="level" multiple>
                                {% for level in levelsData %}
                                <option value="{{ level[0] }}">Level {{ level[0] }}</option>
                                {% endfor %}
                              </select>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button input type="submit" class="btn btn-primary">Save Changes</button>   
                 </form>
                    </div>
                </div>
                </div>
            </div>

      </div>
    </div>
</div>


{% endblock %}

{% block footer %}

    <xml id="toolbox" style="display: none">
        <!--  for loop for printing out xml-blocks according to command list  -->
        {%for block in commandList%}
            {% if block != ""%}
                <block type="{{block}}"></block>
            {% endif %}
        {% endfor %}
    </xml>

    <script>
        var map = {{mapLevelLayout | tojson}};
        var win = 0;

        var workspace = Blockly.inject('blocklyDiv', {toolbox: document.getElementById('toolbox')});
        document.getElementById("send_commands").addEventListener("click", function(){ map = sendCommandButton(map); } );
        $( document ).ready(function() {
            renderMap(map);
        });
    </script>

{% endblock %}
