{% extends 'base.html' %}

{% block head %}

    {% block javascript %}
    <script src="{{ url_for('static', filename='js/blockly-master/blockly_compressed.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/blockly-master/blocks_compressed.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/blockly-master/msg/js/en.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/game_blocks.js') }}", type="text/javascript"> </script>
    <script src="{{ url_for('static', filename='js/game_processing.js') }}", type="text/javascript"> </script>
    {% endblock %}

{% endblock %}



{% block body %}
    <h1>This is the Index page</h1>
    <h2> {{ test }}</h2>
      <div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
      <button id="send_commands" type="button">Send Commands</button>
{% endblock %}

{% block footer %}
    <xml id="toolbox" style="display: none">
          <block type="upward"></block>
          <block type="downward"></block>
          <block type="left"></block>
          <block type="right"></block>
          <block type="loop"></block>
          <block type="if_wall"></block>
          <block type="if_coin"></block>
    </xml>
    <script>
        var workspace = Blockly.inject('blocklyDiv', {toolbox: document.getElementById('toolbox')});
        document.getElementById("send_commands").addEventListener("click", sendCommandButton);
    </script>

{% endblock %}
