{% extends 'base.html' %}

{% block head %}

    {% block javascript %}
    <script src="{{ url_for('static', filename='js/blockly-master/blockly_compressed.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/blockly-master/blocks_compressed.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/blockly-master/msg/js/en.js') }}" type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/game_blocks.js') }}", type="text/javascript"> </script>
    <script src="{{ url_for('static', filename='js/game_processing.js') }}", type="text/javascript"> </script>
    {% endblock %}

{% endblock %}

{% block body %}

    <div class="container-fluid justify-content-center">
        <h1>This is the Index page</h1>
        <canvas id="canvas"> </canvas>
    </div>
    <div class="container-fluid justify-content-center">
        <p>Level: {{level}}</p>
        <p class="d-inline">Time Elapsed:</p>
        <br/>
        <p class="d-inline">Coins Collected:</p> <p class="d-inline" id="coinsCollected">0</p>
        <br/>
        <p class="d-inline">Car Crashes:</p> <p class="d-inline" id="carCrashes">0</p>
        <br/>
        <p class="d-inline">Commands Sent:</p> <p class="d-inline" id="cmdsSent">0</p>
    </div>
    <div class="container-fluid justify-content-center">
        <h2> Car Control Station </h2>
        <div id="blocklyDiv" style="height: 320px; width: 1200px;"></div>
        <button id="send_commands" type="button">Send Commands</button>
    </div>

{% endblock %}

{% block footer %}

    <xml id="toolbox" style="display: none">
        <!--  for loop for printing out xml-blocks according to command list  -->
        {%for block in commandList%}
            {% if block != ""%}
                <block type="{{block}}"></block>
            {% endif %}
        {% endfor %}
    </xml>

    <script>
        var map = {{mapLevelLayout | tojson}};

        var workspace = Blockly.inject('blocklyDiv', {toolbox: document.getElementById('toolbox')});
        document.getElementById("send_commands").addEventListener("click", function(){ map = sendCommandButton(map); } );
        $( document ).ready(function() {
            renderMap(map);
        });
    </script>

{% endblock %}
